<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="login">
		<li th:if="${#authorization.expression('!isAuthenticated()')}"><a href="/signin" th:href="@{/signin}"> <span
				class="glyphicon glyphicon-log-in" aria-hidden="true"></span> &nbsp;Sign in
		</a></li>
		<li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/logout" th:href="@{#}"
			onclick="$('#form').submit();"> <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> &nbsp;Logout
		</a>
			<form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form></li>
	</div>
</body>
</html>